.topNavSection {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nonClickButton {
    width: 115px;
    height: 29px;
    flex-shrink: 0;
    background: #261b18;
    border: none;
    cursor: pointer;
}

.buttonContainer{
    margin: 2px;
    width: 119px;
    height: 27px;
    justify-content: center;
    align-items: center;
}

.clickedButton {
    width: 115px;
    height: 26px;
    flex-shrink: 0;
    background-image: url(../assets/nav-button.png);
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.nonClickFont {
    color: #b29e99;
    font-family: "SUITE Variable", system-ui, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.408px;
    cursor: pointer;
}

.clickedFont {
    font-family: "SUITE Variable", system-ui, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #fff8e8;
}

.topNavContainer {
    width: 365px;
    height: 31px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #261B18;
    margin: 4px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

@font-face {
    font-family: "SUITE Variable";
    src: url("../fonts/SUITE-Variable-ttf/SUITE-Variable.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}
