/* index.css */

@font-face {
  font-family: 'Maplestory OTF';
  src: url('/fonts/MaplestoryOTF-Light.otf') format('opentype');
  font-weight: 400; /* 라이트 */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Maplestory OTF';
  src: url('/fonts/MaplestoryOTF-Bold.otf') format('opentype');
  font-weight: 700; /* 볼드 */
  font-style: normal;
  font-display: swap;
}

:root {
  --font-button: 'Pretendard', sans-serif;
  --font-body: 'Pretendard', sans-serif;
  --font-maple: 'Maplestory OTF', sans-serif;

  --color-leafupBrown: #382C28;
  --color-leafupGreen: #7CB5A9;
  --color-accent: #FF4A4A;    /* 강조/필수 별표 등 */
  --color-bg: #FFF8E8;        /* 배경색 */
  --color-border: #B29E99;    /* 테두리 */

  /* 카카오에서 스크롤 막힘 ->  vh를 안전하게 쓰기 위한 변수 */
  --vh: 1vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* iOS/Android safe-area 적용 */
body, #root {
  padding-top: env(safe-area-inset-top);   /* iOS */
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  /*background-color: #5C4D49;*/
}

/* body: 그냥 배경 + 스크롤 가능만 */
body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f0f0f0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 🔹 앱 컨테이너: 기본 모바일 스타일 */
#root {
  width: 100%;
  max-width: 390px; /* iPhone 14 기준 */
  height: 100vh; /* 모바일에서는 꽉 차게 */
  /*background-color: #433531; */
  border-radius: 0; /* 모바일은 모서리 없음 */
}


/* 🔹 PC/웹뷰용 스타일 */
@media (min-width: 768px) {
  #root {
    height: 95vh; /* PC에서는 약간 여유 있게 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }
}